<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link href="siteicon.png" rel="apple-touch-icon" type="image/png"/>
    <meta content="m2ag.labs thing client" name="apple-mobile-web-app-title">
    <link href="siteicon.png" rel="shortcut icon" type="image/png"/>
    <link href="siteicon.png" rel="mask-icon" type=""/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="css/jstree/style.min.css" rel="stylesheet"/>
    <link href="css/vendor/bootstrap.min.css" rel="stylesheet">
    <!--link href="css/main.css" rel="stylesheet">  there is nothing there -->
    <title>m2ag.labs.thing</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">m2ag.labs.thing</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <ul id="pills-tab" class="nav nav-pills mb-3" role="tablist">
                    <li class="nav-item">
                        <a id="pills-config-tab" aria-controls="pills-config" aria-selected="true"
                           class="nav-link active"
                           data-toggle="pill" href="#config"
                           role="tab"> config </a>
                    </li>
                    <li class="nav-item">
                        <a id="pills-ui-tab" aria-controls="pills-ui" aria-selected="false"
                           class="nav-link" data-toggle="pill"
                           href="#ui" role="tab"> things </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#"
                   role="button">utils</a>
                <div class="dropdown-menu">
                    <a id="connect_menu" class="dropdown-item control_action">credentials</a>
                    <div class="dropdown-divider"></div>
                    <a id="pick_menu" class="dropdown-item control_action">add/remove modules</a>
                    <div class="dropdown-divider"></div>
                    <a id="token_menu" class="dropdown-item control_action">get jwt</a>
                    <div class="dropdown-divider"></div>
                    <a id="thing_ui_menu" class="dropdown-item control_action">get thing url</a>
                </div>
            </li>

            <li class="nav-item">
                <a id="about_link" class="nav-link control_action" href="#">about <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://m2aglabs.com" target="_new">m2ag.labs<span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>


<div class="container-fluid">
    <div id="pills-config-content" class="tab-content">
        <!--config page-->
        <div id="config" aria-labelledby="pills-config-tab" class="tab-pane fade show active" role="tabpanel">
            <div class="row vw-100">
                <!-- service list card -->
                <div class="col-md-3">
                    <div class="card">
                        <div id="service-status-list" class="card-body text-center">
                            <div id="serviceApp">
                                <div v-if="this.services.length" class="custom-control custom-switch">
                                    <input id="service-poll" v-model="this.polling"
                                           autocomplete="poll-switch" class="custom-control-input" type="checkbox"
                                           @change="this.pollServices()">
                                    <label class="custom-control-label" for="service-poll">
                                        {{ this.polling ? "polling" : "not polling" }}</label>
                                </div>
                                <service-element
                                        v-for="service in this.services"
                                        :ref="service"
                                        v-bind:context="service">
                                </service-element>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- jstree card -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <ul class="list-group text-left">
                                <li class="list-group-item list-group-item-primary text-center">
                                    <h5 class="card-title">device tree</h5>
                                </li>
                            </ul>
                            <div id="device_tree_area" style="overflow: scroll;">

                            </div>
                        </div>
                    </div>
                </div>
                <!-- detail card -->
                <div class="col-md-5">
                    <div class="card">
                        <div id="tree-detail-card" class="card-body">
                            <div id="deviceDetailApp">
                                <ul class="list-group text-left">
                                    <li class="list-group-item list-group-item-primary text-center">
                                        <h5 class="card-title">{{ title }}</h5>
                                    </li>
                                    <li class="list-group-item text-center">
                                        {{ selected }}
                                    </li>
                                    <li v-show="isDirty" class="list-group-item text-center">
                                        <img alt="accept"
                                             src="css/images/72px-Dialog-accept.svg.png"
                                             style="width: 24px; height: auto; margin-left: 10%; margin-right: 10%;"
                                             @click="this.saveModule()">
                                        <img alt="cancel"
                                             src="css/images/72px-Dialog-error-round.svg.png"
                                             style="width: 24px; height: auto; margin-left: 10%; margin-right: 10%;"
                                             @click="this.cancelModuleAction()">
                                    </li>
                                    <li id="detail_li" class="list-group-item text-justify"
                                        style="overflow: scroll;">
                                        <div v-if="selected === 'config/component_map'">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th scope="col">Thing</th>
                                                    <th scope="col">Component</th>
                                                    <th scope="col">
                                                        <img v-show="!isDirty"
                                                             alt="add"
                                                             src="css/images/1024px-Ambox_emblem_plus.svg.png"
                                                             style="width: 24px; height: auto;"
                                                             @click="this.addModule()">
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="(key, component) in current_module.component_map" :key="key">
                                                    <td>
                                                        <label>
                                                            <select :id="component"
                                                                    class="custom-select"
                                                                    @change="this.optionChange(component)">
                                                                <option v-for="(item) in this.thingOptions(component)"
                                                                        :selected="item === component"
                                                                        :value="item">
                                                                    {{ item }}
                                                                </option>
                                                            </select>
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <label>
                                                            <select :id="`${component}_component`"
                                                                    class="custom-select"
                                                                    @change="this.optionChange(component)">
                                                                <option value="component">component</option>
                                                                <option v-for="(item) in current_module.components"
                                                                        :selected="item === key"
                                                                        :value="item">
                                                                    {{ item }}
                                                                </option>
                                                            </select>
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <img v-show="!isDirty"
                                                             alt="delete"
                                                             src="css/images/72px-User-trash-full.svg.png"
                                                             style="width: 24px; height: auto; margin-right: 5%;"
                                                             @click="this.deleteModule(component)">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div v-else-if="selected !==''">
                                            <div :contenteditable="isDirty"
                                                 @click="this.isDirty = true">
                                                <pre id="current_module_edit">{{ this.current_module }}</pre>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--ui iframe panel -->
        <div id="ui" aria-labelledby="pills-ui-tab" class="tab-pane fade show" role="tabpanel">
            <div class="card">
                <nav class="navbar navbar-expand-sm navbar-light bg-light">
                    <ul id="ui-tab-list" class="nav nav-pills mb-3" role="tablist"></ul>
                </nav>
                <div class="card-body">
                    <iframe id="ui_frame" src=""
                            style="position: relative; height: 700px; width: 100%; border: 0;" title="thing">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container main content-->


<!-- pw modal -->
<div id="connect_modal" class="modal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">credentials</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul id="mpills-tab" class="nav nav-pills" role="tablist">
                    <li class="nav-item">
                        <a id="mpills-connect-tab" aria-controls="mpills-connect" aria-selected="true"
                           class="nav-link active"
                           data-toggle="pill"
                           href="#credentials" role="tab">credentials</a>
                    </li>
                    <li class="nav-item">
                        <a id="mpills-set-password-tab" aria-controls="mpills-comm" aria-selected="false"
                           class="nav-link"
                           data-toggle="pill"
                           href="#mpills-comm" role="tab">set password</a>
                    </li>
                </ul>
                <div id="mpills-tabContent" class="tab-content">
                    <div id="credentials" aria-labelledby="pills-connect-tab" class="tab-pane fade show active"
                         role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">
                                <ul class="list-group text-left">
                                    <li id="mconnect_info_display" class="list-group-item  text-center">
                                        <form>
                                            <div class="form-group">
                                                <label for="connect_name">user id</label>
                                                <input id="connect_name" aria-describedby="connect_name_help"
                                                       autocomplete="username"
                                                       class="form-control" type="text">
                                                <small id="connect_name_help" class="form-text text-muted">usually this
                                                    will be pi</small>
                                            </div>
                                            <div class="form-group">
                                                <label for="connect_password">password</label>
                                                <input id="connect_password" autocomplete="current-password"
                                                       class="form-control"
                                                       type="password">
                                            </div>
                                            <div>
                                                <button id="save_login" class="control_action btn btn-primary"
                                                        type="button">login
                                                </button>
                                                <button id="clear_login" class="control_action btn btn-danger"
                                                        type="button">log out
                                                </button>
                                            </div>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> <!-- connect tab -->
                    <div id="mpills-comm" aria-labelledby="pills-set-password-tab" class="tab-pane fade"
                         role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">
                                <ul class="list-group text-left">
                                    <li id="connect_info_display" class="list-group-item  text-center">
                                        <form>
                                            <div class="form-group">
                                                <label for="emailfield"></label><input id="emailfield"
                                                                                       autocomplete="username"
                                                                                       style="display: none;"
                                                                                       type="text" value="">
                                                <label for="password_1">enter new password</label>
                                                <input id="password_1" autocomplete="new-password" class="form-control"
                                                       type="password" value="">
                                            </div>
                                            <div class="form-group">
                                                <label for="password_2">enter it again</label>
                                                <input id="password_2" autocomplete="new-password"
                                                       class="form-control" type="password" value="">
                                            </div>
                                        </form>
                                    </li>
                                    <li class="list-group-item  text-center">
                                        <button id="save_password" class="btn btn-primary control_action" type="button">
                                            save password
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> <!-- comm tab -->
                </div><!-- tab pane-->
            </div>
        </div>
    </div>
</div>
<!-- add components modal -->
<div id="pick_modal" class="modal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">add/remove</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item">
                        <a aria-controls="mpills" aria-selected="true" class="nav-link active"
                           data-toggle="pill"
                           href="#components"
                           onclick="buttonsOff()" role="tab">components</a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="mpills" aria-selected="false" class="nav-link" data-toggle="pill"
                           href="#things"
                           onclick="buttonsOff()" role="tab">things</a>
                    </li>
                </ul>

                <div class="tab-content text-center">

                    <div id="components" aria-labelledby="pills-components-tab" class="tab-pane fade show active"
                         role="tabpanel">

                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-6">
                                                <h6>available</h6>
                                                <ul id="components-available" class="list-group">

                                                </ul>
                                                <button id="add-components" class="btn btn-success thinger-button-add"
                                                        style="display: none;" type="button">
                                                    add
                                                </button>
                                            </div>
                                            <div class="col-6">
                                                <h6>installed</h6>
                                                <ul id="components-installed" class="list-group">

                                                </ul>
                                                <button id="remove-components"
                                                        class="btn btn-danger thinger-button-remove"
                                                        style="display: none;" type="button">
                                                    remove
                                                </button>
                                            </div>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div> <!-- components tab -->

                    <div id="things" aria-labelledby="pills-set-things-tab" class="tab-pane fade"
                         role="tabpanel">

                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-6">
                                                <h6>available</h6>
                                                <ul id="things-available" class="list-group">

                                                </ul>
                                                <button id="add-things" class="btn btn-success thinger-button-add"
                                                        style="display: none;" type="button">
                                                    add
                                                </button>
                                            </div>
                                            <div class="col-6">
                                                <h6>installed</h6>
                                                <ul id="things-installed" class="list-group">

                                                </ul>
                                                <button id="remove-things" class="btn btn-danger thinger-button-remove"
                                                        style="display: none;" type="button">
                                                    remove
                                                </button>
                                            </div>

                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div> <!-- thing -->

                </div><!-- tab pane-->
            </div>
        </div>
    </div>
    <!-- toast -->
    <div aria-atomic="true" aria-live="polite" class="d-flex justify-content-center align-items-sm-baseline"
         style="min-height: 200px;">
        <!-- Then put toasts within -->
        <div id="advice-toast" aria-atomic="true" aria-live="assertive" class="toast" role="alert">
            <div class="toast-header">
                <img alt="" class="rounded mr-2" src="">
                <strong class="mr-auto">driver required</strong>
                <small></small>
                <button aria-label="Close" class="ml-2 mb-1 close" data-dismiss="toast" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                <span id="advice-text"></span>
            </div>
        </div>
    </div>
</div>
<!-- jwt modal -->
<div id="jwt_modal" class="modal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">jwt</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">
                        <ul class="list-group text-left">
                            <li class="list-group-item list-group-item-primary  text-center">
                                thing url
                            </li>
                            <li class="list-group-item  text-center">
                                <span id="thing_url"></span>
                            </li>
                            <li class="list-group-item  list-group-item-primary text-center">
                                jwt
                            </li>
                            <li class="list-group-item  text-center">
                                <span id="jwt_token"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jwt modal -->
<div id="thing_ui_modal" class="modal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">thing ui</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">
                        <ul class="list-group text-left">
                            <li class="list-group-item list-group-item-primary  text-center">
                                thing ui url
                            </li>
                            <li class="list-group-item  text-center">
                                <span id="thing_ui_url"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- message toast -->
<div id="message-toast" aria-atomic="true" aria-live="assertive" class="toast" role="alert"
     style="position: absolute; top: 10%; right: 5%; min-width: 300px;">
    <div class="toast-header">
        <img alt="" class="rounded mr-2" src="">
        <strong id="message-toast-title" class="mr-auto">title</strong>
        <small id="message-toast-subtitle" class="text-muted">subtitle</small>
        <button aria-label="Close" class="ml-2 mb-1 close" data-dismiss="toast" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div id="message-toast-content" class="toast-body">
        This is the toast message
    </div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/vendor/vue.global.js"></script>
<script src="js/vendor/jquery.min.js"></script>
<script src="js/vendor/popper-lite.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<!-- need jquery.min -- slim will not work -->
<script src="js/vendor/jstree.min.js"></script>
<script src="js/tree.js"></script><!-- js tree  -->
<script src="js/api.js"></script><!-- rest calls -->
<script src="js/comm.js"></script><!-- web socket comm -->
<script src="js/modules.js"></script><!--code to add/remove things -->
<script src="js/main.js"></script><!-- main -->
<script src="js/apps/serviceList.js"></script>
<script src="js/apps/deviceDetail.js"></script>
<script src="js/components/ServiceElement.js"></script>
<script>
    //mount everything last
    const serviceApp = serviceList.mount('#serviceApp')
    const deviceDetailApp = deviceDetail.mount('#deviceDetailApp')
</script>
</body>
</html>








